dotenv
pandas

# Download Data Tool
yfinance
requests
bs4

# Data Load Tool with S3 + Qdrant
dlt[qdrant,s3]>=1.4.0   # or the latest stable release
dlt[duckdb]

# AWS SDK for Python
boto3

# vector database
qdrant-client[fastembed]

# llm
google-genai
